*{
	margin-left: 0;
	margin-right: 0;
	
}
 body{
	
  background: -webkit-linear-gradient(90deg, #FBD3E9 10%, #BB377D 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FBD3E9 10%, #BB377D 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FBD3E9 10%, #BB377D 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FBD3E9 10%, #BB377D 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FBD3E9 10%, #BB377D 90%); /* W3C */
        }


header h1{
	
	font-size: 500%;
	text-align: left;
	font-family: Berlin Sans FB Demi;	
    text-shadow: #555 2px 2px 3px;

 }

.navbar{
	background: transparent;
	}

.navbar ul li{	
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 25px;		
}
.navbar ul li a{
	font-family:Berlin Sans FB Demi;
	font-size: 200%;
	color: #542F19;
	
	text-decoration: none;
}
.navbar ul li a:hover{	
	color: coral;
}
footer{
	text-align: center;
}